.button {

    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: #FFF;
    -fx-font-family: "Segoe UI Semibold ";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}
#btnSave{
    -fx-background-color: #4CD4B0;
}



#btnDetails{
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: #FFF;
    -fx-font-family: "Segoe UI Semibold ";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;


}
#btnJoin ,#btnOpen {
    -fx-background-color: #CDCBA6;
}
#btnJoin{
    -fx-font-size: 24px;
}
#labels{
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Light";

    -fx-opacity: 1;


}
.label{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";

    -fx-opacity: 1;
}
.text-field{
    -fx-background-insets: 0;
    -fx-background-color: transparent, #FFF, transparent,  #FFF;
}

.text-field .content{
    -fx-background-color: transparent,  #FFF, transparent,  #FFF;
    -fx-font-size:11pt;
    -fx-font-family:"Segoe UI Semibold";
}

.text-field:focused .content {
    -fx-background-color: transparent,  #FFF, transparent,  #FFF;
}
.text-field:focused{
    -fx-highlight-fill: #CDCBA6;
}

.text-field .content{
    -fx-padding: 10px;

    -fx-highlight-fill: #CDCBA6;
}
.text-area {
    -fx-text-fill: #fff;
    -fx-font-size:12pt;
    -fx-font-family:"Segoe UI Semibold";
    -fx-background-insets: 0;
    -fx-background-color: transparent,  #aaaaaa, transparent,   #aaaaaa;
}

.text-area .content {
    -fx-background-color: transparent,   #aaaaaa, transparent,   #aaaaaa;
    -fx-font-size:14pt;
    -fx-font-family:"Segoe UI Semibold";

}

.text-area:focused .content {
    -fx-background-color: transparent,   #aaaaaa, transparent,   #aaaaaa;
}

.text-area:focused {
    -fx-highlight-fill:  #aaaaaa;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: #fff;
    -fx-highlight-fill:  #aaaaaa;
}